@media(min-width:320px)and (max-width:767px) {
    .header-nav ul {
        display: none;
    }

    .header-logo h1 {
        font-size: 25px;
    }

    .header-line {
        animation-name: header-line;
        animation-timing-function: linear;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        background-color: blue;
        width: 40px;
        height: 3px;
        position: relative;
        top: 62px;

    }

    @keyframes header-line {
        from {
            transform: translateX(0px);
        }

        to {
            transform: translateX(400px);
        }
    }

    header {
        border-bottom: 1px solid black;
        width: 100%;
    }

    section {
        padding-top: 10px;
    }

    .section-profile img {
        position: relative;
        width: 250px;
    }



    .section-profile {
        text-align: center;
    }

    .section-flex {
        flex-direction: column-reverse;
        text-align: center;
    }

    .section-content h2 {
        font-size: 35px;
        width: 95%;
    }

    .section-content p {
        width: 88%;
    }

    .section-content button {
        padding: 5px 10px;
        cursor: pointer;
        align-items: center;
        margin-left: 9px;
    }

    .section-content i {
        font-size: 30px;
        width: 19%;
    }



    .profile-h {
        visibility: visible;
        position: absolute;
        z-index: -1;
        top: 200px;
        text-align: center;
        font-size: 22px;
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .facebook {
        color: blue;
    }

    .linkedin {
        color: blue;
    }

    .instagram {
        color: rgb(255, 0, 0);

    }

    .flex {
        flex-direction: column-reverse;
    }

    .number h3 {
        padding-left: 0px;
        font-size: 40px;
        font-weight: bolder;
    }

    .about-me p {
        padding-left: 0px;
        text-align: center;
    }

    .profile-img img {
        width: 250px;
    }

    .profile-img {
        text-align: center;
    }

    .number h3 {
        padding-left: 40px;
    }

    .article-1 {
        padding-top: 5px;
    }
}